<p>
  <strong>Title:</strong>
  <%= @tweet.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @tweet.text %>
</p>
<button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Edit', edit_trend_url %></button>
<button type="button" class="btn btn-outline-primary btn-sm"><%= link_to 'Back', trends_url %></button>
